<li><a href="/api/auth/register">Register</a></li>
<li><a href="/api/auth/login">Login</a></li>
<li><a href="/api/data/team6/get">Get Data</a></li>
<li><a href="/api/data/team6/add">Add Data</a></li>
<li><a href="/api/data/team6/search">Search Data</a></li>
<li><a href="/api/data/team6/update">Update Data</a></li>
<li><a href="/api/data/team6/delete">Delete Data</a></li>