<!DOCTYPE html>
<html>
    <head>
        <title>Final Project - Team 6</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="header center-content">
            <ul>
                <li>Junzhi Chen (N01563594), Tuyi Chen (N01531425), Zhangzhi Wang (N01371888)</li>
            </ul>
        </div>
        <div class="header center-content menu">
            <ul>
                <li><a href="/">Home</a></li>
                {{> nav}}
            </ul>
        </div>
        {{{body}}}
        <div class="footer center-content">
            <p>&copy; ITE-5315 Web Programming &amp; Framework 1 - Team 6. All Rights Reserved.</p>
        </div>
    </body>
</html>