<div class="center-content">
    <form method="POST" action="/add">
        <h2>Add new Shipwreck</h2>
        <label>
            recrd:
            <input type="text" name="recrd">
        </label><br>
        <label>
            vesslterms:
            <input type="text" name="vesslterms">
        </label><br>
        <label>
            feature_type:
            <input type="text" name="feature_type" required>
        </label><br>
        <label>
            chart:
            <input type="text" name="chart" required>
        </label><br>
        <label>
            latdec:
            <input type="number" name="latdec" required>
        </label><br>
        <label>
            londec:
            <input type="number" name="londec" required>
        </label><br>
        <label>
            gp_quality:
            <input type="text" name="gp_quality">
        </label><br>
        <label>
            depth:
            <input type="number" name="depth" required>
        </label><br>
        <label>
            sounding_type:
            <input type="text" name="sounding_type">
        </label><br>
        <label>
            history:
            <input type="text" name="history">
        </label><br>
        <label>
            quasou:
            <input type="text" name="quasou">
        </label><br>
        <label>
            watlev:
            <input type="text" name="watlev" required>
        </label><br>
        <input type="submit" value="Submit">
    </form>
</div>