<div class="center-content">
    <form method="POST" action="/login">
        <h2>Login</h2><br>
        <input type="text" name="username" placeholder="Enter Username"><br><br>
        <input type="password" name="password" placeholder="Enter Password"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>