<div class="center-content">
    <form action="/search" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" name="id" placeholder="Enter Shipwreck ID">
        <button type="submit">Search</button>
    </form>
</div>
