<form action="/data/search/{{type}}" method="post" enctype="application/x-www-form-urlencoded">
    <input type="text" name="{{type}}" placeholder="Enter {{type}}">
    <button type="submit">Search {{type}}</button>
</form>